* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: azure;
  padding: 5px 20px;
  overflow-y: scroll;
}

nav::-webkit-scrollbar {
  width: 2px;
}

nav::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(191, 235, 235);
  height: 10px;
}

.sidebar header {
  font-size: 26px;
  padding: 30px 0;
}

.sidebar li {
  list-style: none;
  padding: 14px 20px;
  border-top: solid rgb(82, 82, 82) 1px;
}

.sidebar a {
  text-decoration: none;
  color: #000;
  transition: 0.35s ease-in;
}

.sidebar a:hover {
  color: rgb(152, 153, 153);
}

.menu-wrap .toggler { 
  visibility: hidden;
}

main {
  margin-left: 300px;
  padding: 60px 40px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: rgb(125, 126, 126);

}

.main-section {
  padding: 1%;
  color: rgb(82, 83, 83);
}

.main-section header {
  color: #000;
  font-size: 24px;
  padding-bottom: 10px;
}

.main-section p {
  padding: .6% 1%;
}

.main-section li {
  margin-left: 5%;
  padding: 1% 0;
}

.main-section pre{
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 14px;
  margin: 10px auto;
  padding: 15px 0;
  width: 87%;
}

pre code {
  max-width: 100% ;
  padding: 5px 20px;
}

@media (max-width: 1201px) {
  .main-section code{
    font-size: 12px;
  }
}

@media (max-width: 1025px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-section pre{
    padding-left: 0;
    width: 100%;
  }

  .main-section code{
    font-size: 11px;
  }
}

@media (max-width: 799px) {
  .sidebar {
    background: none;
    width: 100%;
    z-index: 0;
    color: white;
  }

  .menu-wrap .toggler {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburguer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    padding: 1rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .menu-wrap .hamburguer > div {
    position: relative;
    width: 30px;
    height: 2px;
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  .menu-wrap .hamburguer > div:before, 
  .menu-wrap .hamburguer > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  .menu-wrap .hamburguer > div:after {
    top: 10px;
  }

  .menu-wrap .toggler:checked + .hamburguer {
    background: rgba(100, 148, 237, 0.1);
  }
  
  .menu-wrap .toggler:checked + .hamburguer > div {
    background: white;
    transform: rotate(135deg);
  }
  
  .menu-wrap .toggler:checked + .hamburguer > div::before,
  .menu-wrap .toggler:checked + .hamburguer > div::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  .menu-wrap .toggler:checked:hover + .hamburguer > div {
    transform: rotate(225deg);
  } 

  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.4s;
  }

  .menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu > div {
    background: rgba(100, 148, 237, 0.8);
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .sidebar a {
    color: white;
   }

  main {
    margin-top: 20px;
    margin-left: 0;
  }

  .main-section pre{
    width: 95%;
  }
}

@media (max-width: 516px) {

  main {
    font-size: 12px;
  }

  main {
     padding: 40px 0.5%;
  }

  .main-section pre{
    width: 97%;
  }

  .main-section code{
    font-size: 10px;
  }

  @media (max-width: 480px) {
    .main-section code{
      font-size: 9px;
    }
  }

}





